@model SednaPersonel.Models.Models.Entity.LoginDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsery.cshtml";
}

<header>

    <!--Intro Section-->
    <section class="view intro-2">

        <div class="mask rgba-stylish-strong h-100 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">
                        <!--Form with header-->
                        <div class="card wow fadeIn" data-wow-delay="0.3s">
                            <div class="card-body">
                                <!--Header-->
                                <div class="form-header purple-gradient">
                                    <h3><i class="fa fa-check mt-2 mb-2"></i> KOD YAZILIM</h3>
                                </div>
                                <!--Body-->
                                @using (Html.BeginForm("Index", "User", new { returnUrl = ViewBag.returnUrl }, FormMethod.Post))
                                {
                                    <div class="md-form">
                                        <i class="fa fa-user prefix white-text"></i>
                                        <input type="text" id="orangeForm-name" class="form-control" name="KAdi">
                                        <label for="orangeForm-name">Kullanıcı Adı</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-lock prefix white-text"></i>
                                        <input type="password" id="orangeForm-pass" class="form-control" name="Sifre">
                                        <label for="orangeForm-pass">Parola</label>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn purple-gradient btn-lg" id="submit" type="submit">Giriş</button>
                                        @*<input type="submit" value="Giriş" class="btn btn-success" />*@
                                        <hr>
                                        @if (ViewBag.hata != null)
                                        {
                  
                                            <div class="alert alert-danger alert-dismissible fade show">
                                                <button type="button" class="close" id="alert-target">&times;</button>
                                                @ViewBag.hata
                                            </div>
                                        }
                                        <div class="inline-ul text-center d-flex justify-content-center">
                                            <a class="p-2 m-2 fa-lg tw-ic"><i class="fa fa-twitter white-text"></i></a>
                                            <a class="p-2 m-2 fa-lg li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                                            <a class="p-2 m-2 fa-lg ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                                        </div>
                                        @*<div class="col-md-12">
                                            <p class="font-small white-text d-flex justify-content-end">
                                                <a href="#" class="green-text ml-1 font-weight-bold" style="color: #6ebbe2 !important;"><i>Admin Paneli</i> </a>
                                            </p>
                                        </div>*@

                                    </div>
                                }
                            </div>
                        </div>
                        <!--/Form with header-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>


@*<script>
    $("#alert-target").click(function () {
        toastr["info"]("I was launched via jQuery!")
    });


</script>*@