@model IEnumerable<Kod_Yazilim_Personel.App_Data.KayitliPersonel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<main>
    <style>
        .cascading-admin-card[_ngcontent-c4] {
            margin-top: 20px;
        }

            .cascading-admin-card[_ngcontent-c4] .admin-up[_ngcontent-c4] {
                margin-left: -15%;
                margin-right: 4%;
                margin-top: -20px;
            }

                .cascading-admin-card[_ngcontent-c4] .admin-up[_ngcontent-c4] .fa[_ngcontent-c4] {
                    padding: 1.7rem;
                    font-size: 2rem;
                    color: #fff;
                    text-align: left;
                    margin-right: 1rem;
                    border-radius: 3px;
                }

                .cascading-admin-card[_ngcontent-c4] .admin-up[_ngcontent-c4] .data[_ngcontent-c4] {
                    float: right;
                    margin-top: 2rem;
                    text-align: right;
                }

                    .cascading-admin-card[_ngcontent-c4] .admin-up[_ngcontent-c4] .data[_ngcontent-c4] p[_ngcontent-c4] {
                        color: #999999;
                        font-size: 12px;
                    }

        .classic-admin-card[_ngcontent-c4] .card-body[_ngcontent-c4] {
            color: #fff;
            margin-bottom: 0;
            padding: 0.9rem;
        }

            .classic-admin-card[_ngcontent-c4] .card-body[_ngcontent-c4] p[_ngcontent-c4] {
                font-size: 13px;
                opacity: 0.7;
                margin-bottom: 0;
            }

            .classic-admin-card[_ngcontent-c4] .card-body[_ngcontent-c4] h4[_ngcontent-c4] {
                margin-top: 10px;
            }

            .classic-admin-card[_ngcontent-c4] .card-body[_ngcontent-c4] .float-right[_ngcontent-c4] .fa[_ngcontent-c4] {
                font-size: 3rem;
                opacity: 0.5;
            }

        .classic-admin-card[_ngcontent-c4] .progress[_ngcontent-c4] {
            margin: 0;
            opacity: 0.7;
        }

        .cascading-admin-card[_ngcontent-c4] .admin-up[_ngcontent-c4] .fa[_ngcontent-c4] {
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
        }
    </style>

    <div class="container-fluid text-center">
        <div class="card card-cascade wider reverse my-4 pb-5">
            <!--Card-->
            <div class="row">

                <div _ngcontent-c4="" class="col-xl-3 col-md-6 mb-r">
                    <div _ngcontent-c4="" class="card card-cascade cascading-admin-card">
                        <div _ngcontent-c4="" class="admin-up">
                            <i _ngcontent-c4="" class="fa fa-money primary-color"></i>
                            <div _ngcontent-c4="" class="data" id="BugunGelenPersonel">
                                <p _ngcontent-c4="">Bugün Gelen Personel</p><h4 _ngcontent-c4=""><strong _ngcontent-c4="">0</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-c4="" class="col-xl-3 col-md-6 mb-r">
                    <div _ngcontent-c4="" class="card card-cascade cascading-admin-card">
                        <div _ngcontent-c4="" class="admin-up">
                            <i _ngcontent-c4="" class="fa fa-line-chart warning-color"></i>
                            <div _ngcontent-c4="" class="data">
                                <p _ngcontent-c4="">Kayitli Personel</p><h4 _ngcontent-c4=""><strong _ngcontent-c4="">@Model.Count()</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card-->
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="card">
            <div class="card-body">

                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>

    <br />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    @*<script type="text/javascript" src="jscript/graph.js"></script>*@
    <script>


        $(document).ready(function () { 
            
            //$.ajax({
            //    type: "GET",
            //    url:"./BugunGelenPersonel",
            //    success: function (data) {
            //        var obj = JSON.parse(JSON.stringify(data));
            //        var GelenSayisi = obj.KisiSayisi;
            //        console.log(GelenSayisi);
            //        $.each(obj, function (i, item) {
            //            document.getElementById("BugunGelenPersonel").innerHTML = ' <p _ngcontent-c4="">Bugün Gelen Personel</p><h4 _ngcontent-c4=""><strong _ngcontent-c4="">' + GelenSayisi  +' </strong></h4>';
            //        })
            //    }
            //})
        
        });

        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        //bar
        var result = @Html.Raw(ViewBag.PadSoyad);
        var isimArray = [];
        var cikisArray = [];
        var CalismaZaman = [];
        var MolaZaman = [];
        $.each(result, function (i, item) {
            isimArray.push(item.IsimSoyisim);
            cikisArray.push(item.CikisSayisi);
            CalismaZaman.push(item.CalismaSaati);
            MolaZaman.push(item.MolaSaati);
        });
        console.log(result);
        var dataPoints =[];
        //for(var i = 0; i < result.length; i++){
        //    dataPoints.push({label:result[i].x, y:result[i].y});
        //}
        var ctxB = document.getElementById("barChart").getContext('2d');
        var myBarChart = new Chart(ctxB, {
            type: 'bar',
            data: {
                labels: isimArray,
                datasets: [{
                    label: '# Çıkış Sayısı',
                    data: cikisArray,
                    borderColor: randomColorGenerator(),

                    //borderColor: [
                    //    'rgba(255,99,132,1)',
                    //    'rgba(54, 162, 235, 1)',
                    //    'rgba(255, 206, 86, 1)',
                    //    'rgba(75, 192, 192, 1)',
                    //    'rgba(153, 102, 255, 1)',
                    //    'rgba(255, 159, 64, 1)'
                    //],
                    borderWidth: 1
                },
                {
                    label: '# Çalışma Saatine',
                    data: CalismaZaman,
                    backgroundColor: randomColorGenerator(),
                    borderWidth:1

                },
                {
                    label: '# Mola Saatine',
                    data: MolaZaman,
                    backgroundColor: randomColorGenerator(),
                    borderWidth: 1
                }],

            },
            //options: {
            //    scales: {
            //        yAxes: [{
            //            ticks: {
            //                beginAtZero: true,
            //                responsive : true
            //            }
            //        }]
            //    }
            //}
        });


    </script>
</main>