@model IEnumerable<Kod_Yazilim_Personel.App_Data.Ayarlar>
@{
    ViewBag.Title = "SayfaYonetimi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>

    <div class="card card-cascade narrower">
        <section>
            <div class="row">
                <div class="col-xl-12 col-lg-12 mr-0">
                    <div class="view gradient-card-header light-blue lighten-1">
                        <h2 class="h2-responsive mb-0">Sayfa Yönetimi</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br /> <br />
    <div class="row">
        <div class="col-md-8 col-lg-7 col-xl-5">
            <div class="card">
                <div class="card-body">
                    <div class="switch">
                        <label>
                            Finger/Kart ID Aktif/Pasif
                            <input type="checkbox" @*checked="checked"*@>
                            <span class="lever"></span>
                        </label>
                    </div>
                    <br />
                    <div class="switch">
                        <label>
                            KartID Gizli/Göster
                            <input type="checkbox" @*checked="checked"*@>
                            <span class="lever"></span>
                        </label>
                    </div>
                    <br />
                    <div class="switch">
                        <label>
                            Manuel Kayıt Aktif
                            <input type="checkbox" @*checked="checked"*@>
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8 col-lg-7 col-xl-5">
            <div class="card">
                <div class="card-body">

                    <div class="md-form">
                        <input placeholder="" type="text" id="BaslangicSaati" class="form-control timepicker" value="09:00">
                        <label for="BaslangicSaati">Mesai Başlangıç Saati</label>
                    </div>
                    <button type="button" class="btn btn-outline-success waves-effect" id="BKaydet">Kaydet</button>

                    <div class="md-form">
                        <input placeholder="" type="text" id="BitisSaati" class="form-control timepicker" value="18:00">
                        <label for="BitisSaati">Mesai Bitiş Saati</label>
                    </div>
                    <button type="button" class="btn btn-outline-success waves-effect" id="BitisKaydet">Kaydet</button>

                </div>
            </div>
        </div>
    </div>
    <hr /><br />



    <script>
        $(document).ready(function () {

            $('#BaslangicSaati').pickatime({
                'default': 'now',
                twelvehour: false,
                darktheme: true
            });
            $('#BitisSaati').pickatime({
                'default': 'now',
                twelvehour: false,
                darktheme: true
            });

        });

        $("#BKaydet").click(function () {
            //MesaiBaslangicUpdate
            var data = {
                Saats: $('#BaslangicSaati').val() + ":00"
            }
            $.ajax({
                type: "Post",
                url: "./MesaiBaslangicUpdate",
                data: data,
                success: function (result) {
                    toastr["success"]("Guncellendi..")

                }
            });

        });


        //MesaiBitisUpdate
        $("#BitisKaydet").click(function () {
            var data = {
                Saats: $('#BitisSaati').val() + ":00"
            }
            $.ajax({
                type: "Post",
                url: "./MesaiBitisUpdate",
                data: data,
                success: function (result) {
                    toastr["success"]("Guncellendi..")

                }
            });
        });



    </script>
    <br />
</main>
