<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/fonts/favicon.ico" />
    <link rel="stylesheet" href="~/Content/LoginTemplat-css/css/font-awesome.min.css">
    <link href="~/Content/LoginTemplat-css/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/LoginTemplat-css/css/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/LoginTemplat-css/css/Login.css" rel="stylesheet" />

</head>
<body>

        

        @RenderBody()

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/LoginTemplate-js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Scripts/LoginTemplate-js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Scripts/LoginTemplate-js/mdb.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>
</html>